.message-input {
  display: flex;
  padding: 20px;
  height: 4.5rem;

  z-index: 100;
  margin: 0;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.message-inputt {
  width: 100%;
  min-height: 40px;
  max-height: 200px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  scrollbar-width: none;
  resize: none;
  outline: none;
}
.search-con {
  min-height: 70vh;
}
