<div class="container">
  @if (totalPages()>1) {

  <nav
    aria-label="Page navigation"
    class="d-flex justify-content-center align-items-center"
  >
    <ul class="pagination">
      <!-- First Page -->
      <li class="page-item" [class.disabled]="isFirstPage()">
        <span class="page-link" (click)="goToFirst()" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </span>
      </li>

      <!-- Previous Page -->
      <li class="page-item" [class.disabled]="isFirstPage()">
        <span class="page-link" (click)="goToPrevious()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </span>
      </li>

      <!-- Page Numbers -->
      @for ( page of paginatorPages(); track $index) {
      <li class="page-item" [class.active]="page === currentPage()">
        <span
          class="page-link"
          href="javascript:void(0)"
          (click)="goToPage(page)"
        >
          {{ page }}
        </span>
      </li>
      }

      <!-- Next Page -->
      <li class="page-item" [class.disabled]="isLastPage()">
        <span class="page-link" (click)="goToNext()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </span>
      </li>

      <!-- Last Page -->
      <li class="page-item" [class.disabled]="isLastPage()">
        <span class="page-link" (click)="goToLast()" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </span>
      </li>
    </ul>
  </nav>
  }
</div>
