footer {
  background-color: inherit;
  color: white;
}

footer p#useful-links,
#contact-info,
div span {
  color: white;
}

footer p {
  color: var(--primary);
}

footer a,
p {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

footer i {
  color: var(--primary);
}
.links p a {
  &:hover {
    color: var(--primary) !important;
  }
}
