<section class="container">
  <div class="row" animate.enter="enter-animation">
    @for (item of tv(); track item.id) {

    <app-card
      appStructuredDataDirective
      [appStructuredData]="{
        '@context': 'https://schema.org',
        '@type': 'TVSeries',
        image: 'https://image.tmdb.org/t/p/w500/' + item.poster_path,
        description: item.overview,
        datePublished: item.first_air_date,
        genre: item.genre_ids,
        aggregateRating: {
          '@type': 'AggregateRating',
          ratingValue: item.vote_average,
          ratingCount: item.vote_count
        }
      }"
      class="col-lg-3 col-md-4 col-sm-6 col-12"
      [routerLink]="['./series-details', item.id]"
      [data$]="item"
      [index]="$index"
    ></app-card>

    }
  </div>
</section>

<app-pagination
  [config]="paginationConfig()"
  (pageChange)="changePage($event)"
></app-pagination>
