<section class="container">
  <div class="row">
    @for (item of movies(); track item.id) {
    <app-card
      animate.enter="enter-animation"
      class="col-lg-3 col-md-4 col-sm-6 col-12"
      [data$]="item"
      [index]="$index"
      [routerLink]="['./movie-details', item.id]"
      appStructuredDataDirective
      [appStructuredData]="{
        '@context': 'https://schema.org',
        '@type': 'Movie',
        name: item.title,
        image: 'https://image.tmdb.org/t/p/w500/' + item.poster_path,
        description: item.overview,
        datePublished: item.release_date,
        aggregateRating: {
          '@type': 'AggregateRating',
          ratingValue: item.vote_average,
          ratingCount: item.vote_count
        }
      }"
    ></app-card>
    }
  </div>
</section>

<app-pagination
  [config]="paginationConfig()"
  (pageChange)="changePage($event)"
></app-pagination>
